.exportBtn {
  border: solid 1px red;
  /* padding: 5px;
  padding-left: 10px;
  paddin-right: 10px;
  fontsize: 0.85em;
  cursor: pointer;
  display: flex;
  alignitems: center;
  background-color: #198754;
  color: white;
  border: solid 1px #146c43;
  border-radius: 2px;
  :hover {
    transform: scale(1.04);
  } */
}
